<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 화면 샘플 - Bootstrap</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            min-height: 100vh;
            background: linear-gradient(to top right, #b5d692 0%, #a3cca3 100%);
        }

        .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        }

        .admin-password-field {
            display: none;
        }
    </style>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}"><span class="fw-bolder text-primary">ER community</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}" >메인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/join}">구인 등록</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/find}">구인 찾기</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form class="validation-form" novalidate>
                <!-- 이름, 별명, 비밀번호, 비밀번호 확인 -->
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" id="name" placeholder="이름을 입력해주세요." required>
                        <div class="invalid-feedback">이름을 입력해주세요.</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nickname">닉네임</label>
                        <input type="text" class="form-control" id="nickname" placeholder="별명을 입력해주세요." required>
                        <div class="invalid-feedback">닉네임을 입력해주세요.</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요." required>
                        <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="confirm-password">비밀번호 확인</label>
                        <input type="password" class="form-control" id="confirm-password" placeholder="비밀번호 확인" required>
                        <div class="invalid-feedback">비밀번호를 확인해주세요.</div>
                    </div>
                </div>

                <!-- 우편번호, 주소, 상세주소, 참고항목 -->
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="sample6_postcode">우편번호</label>
                        <input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>&nbsp;</label>
                        <input type="button" class="btn btn-info form-control" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="sample6_address">주소</label>
                    <input type="text" class="form-control" id="sample6_address" placeholder="주소">
                </div>

                <div class="mb-3">
                    <label for="sample6_detailAddress">상세주소</label>
                    <input type="text" class="form-control" id="sample6_detailAddress" placeholder="상세주소를 입력해주세요.">
                </div>

                <div class="mb-3">
                    <label for="sample6_extraAddress">참고 항목</label>
                    <input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목">
                </div>

                <!-- 관리자 체크박스 및 관리자 비밀번호 입력 필드 -->
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="is-admin" onclick="toggleAdminPasswordField()">
                    <label class="custom-control-label" for="is-admin">관리자로 가입하기</label>
                </div>

                <div class="admin-password-field mb-3">
                    <label for="admin-password">관리자 비밀번호</label>
                    <input type="password" class="form-control" id="admin-password" placeholder="관리자 비밀번호를 입력해주세요.">
                </div>

                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 2021 YD</p>
    </footer>
</div>

<!-- 네이버 우편번호 서비스 API 스크립트 -->
<script src="https://ssl.pstatic.net/static/pwe/address/1.7.0/kr/zipcode.v2.js"></script>

<script>
    // 우편번호 찾기 함수
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById('sample6_address').value = data.address;
                document.getElementById('sample6_detailAddress').focus();
                document.getElementById('sample6_extraAddress').value = data.extraAddress || "";
            }
        }).open();
    }

    // 관리자인지 아닌지 체크하는 함수
    function toggleAdminPasswordField() {
        var adminPasswordField = document.querySelector('.admin-password-field');
        var isAdmin = document.getElementById('is-admin').checked;
        if (isAdmin) {
            adminPasswordField.style.display = 'block';
        } else {
            adminPasswordField.style.display = 'none';
        }
    }

    window.addEventListener('load', () => {
        const forms = document.getElementsByClassName('validation-form');

        Array.prototype.filter.call(forms, (form) => {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>

</body>
</html>
